form{
  padding:5px;
  border:2px solid #3498db;
  background:#F0F8FF;
  border-radius:7px;
  display:none;

}

#formButton{
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #3498db;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin:10px;

}

#formButton:hover{
  background: #3cb0fd;
  text-decoration: none;
}

#abstract1 {

display:none;

}
